<!--デザイン投稿者詳細画面（企業用）-->

<div class="content_width the_other_user_show_back">

  <h1 class="the_other_user_show_heading1">Contributor Detail</h1>

  <div class="the_other_user_show1">
    <div>
      <%= attachment_image_tag @design_contributor, :profile_image, :fill, 200, 200, fallback: "no_image.png", size: "200x200", class: "design_contributor_show_profile_image" %>
      <div class="the_other_user_show1_name">
        <%= @design_contributor.pen_name %>
      </div>
    </div>
    <div class="the_other_user_show1_introduction">
      <p class="the_other_user_show1_introduction_title">紹介文</p>
      <div class="the_other_user_show_decoration"></div>
      <div class="the_other_user_show1_introduction_text">
        <% if @design_contributor.self_introduction.present? %>
          <%= @design_contributor.self_introduction %>
        <% else %>
          <p class="the_other_user_show1_no_introduction_text">まだ記載されていません</p>
        <% end %>
      </div>
    </div>
  </div>
  <!------------------もし投稿作品があれば全て公開-------------------->
  <% if Post.where(design_contributor_id: @design_contributor.id).exists? %>
    <div class="the_other_user_show2">
      <p class="the_other_user_show2_title">デザイン一覧</p>
      <div class="the_other_user_show2_flex">
        <% @design_contributor.posts.each do |post| %>
          <%= link_to company_post_path(post.id), class: "the_other_user_show2_post_show_link1" do %>
            <%= attachment_image_tag post, :post_image, :fill, 210,310, class: "the_other_user_show2_post_show_link2" %>
            <% if Offer.where(post_id: post.id, offer_status: :established).exists? %>
              <p class="the_other_user_established_user_items">商品化決定</p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
