<!--企業編集画面-->

<div class="content_width user_edit_back">

  <h1 class="user_edit_heading1">プロフィール編集</h1>

  <div class="company_edit_form">
    <!--------------------未入力の時のエラー文---------------------->
    <% if @company.errors.any? %>
      <div class="error_box">
        <p class="error_heading"><%= @company.errors.count %>件のエラー</p>
        <ul>
          <% @company.errors.full_messages.each do |message| %>
            <li class="error_list">
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <!-------------------------------------------------------------->
    <%= form_with model: @company, url: company_company_path(@company.id), local: true do |f| %>
      <div class="user_edit_input_form">
        <label class="input_edit_profile_image1 company_image_choice">プロフィール画像を選択してください
          <%= f.attachment_field :profile_image, class: "user_edit_input input_edit_profile_image2" %>
        </label>
      </div>
      <div class="user_edit_input_form">
        <%= f.label :company_name, class: "company_edit_label" %>
        <%= f.text_field :company_name, class: "company_edit_input" %>
      </div>
      <div class="user_edit_input_form">
        <%= f.label :company_name_kana, class: "company_edit_label" %>
        <%= f.text_field :company_name_kana, class: "company_edit_input" %>
      </div>
      <div class="user_edit_input_form">
        <%= f.label :postal_code, class: "company_edit_label" %>
        <%= f.text_field :postal_code, class: "company_edit_input" %>
      </div>
      <div class="user_edit_input_form">
        <%= f.label :address, class: "company_edit_label" %>
        <%= f.text_field :address, class: "company_edit_input" %>
      </div>
      <div class="user_edit_input_form">
        <%= f.label :phone_number, class: "company_edit_label" %>
        <%= f.text_field :phone_number, class: "company_edit_input" %>
      </div>
      <div class="user_edit_input_form">
        <%= f.label :email, class: "company_edit_label" %>
        <%= f.text_field :email, class: "company_edit_input" %>
      </div>
      <div class="user_edit_input_form">
        <%= f.label :company_introduction, class: "company_edit_label" %>
        <%= f.text_area :company_introduction, class: "company_edit_input" %>
      </div>
      <div class="user_edit_btn_form">
        <%= f.submit "編集する", class: "user_edit_btn" %>
      </div>
    <% end %>




  </div>
</div>