<!--企業詳細画面-->

<div class="content_width">
  <div class="top_content user_show_top">
    <div class="heading2 user_show_heading2">
      <% if @company == current_company %>
        <h2>マイページ</h2>
      <% else %>
        <h2>ユーザーページ</h2>
      <% end %>
    </div>
    <!-----------------見出し------------------>
    <div class="heading1">
      <% if @company == current_company %>
        <h1>My page</h1>
      <% else %>
        <h1>User page</h1>
      <% end %>
    </div>
    <div class="user_show_decoration"></div>
  </div>

  <div class="bottom_content user_show_bottom">
    <div class="user_show_introduction">
      <div class="user_show_introduction1">
        <div class="user_show_user_image_frame">
          <%= attachment_image_tag @company, :profile_image, :fill, 220, 220, fallback: "no_image_company.png", size: "220x220", class: "user_show_user_image" %>
        </div>
        <div class="user_show_name">
          <div class="company_show_name1">
            <%= @company.company_name_kana %>
          </div>
          <div class="company_show_name2">
            <%= @company.company_name %>
          </div>
        </div>
      </div>
      <div class="user_show_introduction2 company_show_introduction2">
        <p>企業紹介</p>
        <div class="user_show_self_introduction">
          <%= @company.company_introduction %>
        </div>
      </div>
    </div>
    <% if @company == current_company %>
      <div class="user_edit_link1">
        <%= link_to "プロフィールを編集する", edit_company_company_path(@company.id), class: "user_edit_link2" %>
      </div>
    <% end %>
    <!-------------------------------------------オファー履歴一覧----------------------------------------------->
    <!--オファーモデルは存在するか-->
    <% if @company.offered_by? %>
      <!----------交渉中のオファーあれば全て表示------------>
      <% if @company.offered_negotiation_by?(@company.id) %>
        <h3 class="user_show_heading3">交渉中</h3>
        <span class="company_offer_count"><%= @company.offered_negotiation_count(@company.id) %>件</span>
        <div class="user_all_items">
          <% @company.offers.where(offer_status: :negotiation).order(created_at: :desc).each do |offer| %>
            <div class="user_item">
              <%= link_to company_post_path(offer.post.id), class: "user_item1" do %>
                <%= attachment_image_tag offer.post, :post_image, :fill, 300, 420, class: "user_item2" %>
              <% end %>
              <div class="user_item_time">
                <%= offer.created_at.strftime('%Y/%m/%d %H:%M') %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% if @company.offered_by? %>
      <!-----------交渉成立オファーあれば全て表示----------->
      <% if @company.offered_established_by?(@company.id) %>
        <h3 class="user_show_heading3">交渉成立</h3>
        <span class="company_offer_count"><%= @company.offered_established_count(@company.id) %>件</span>
        <div class="user_all_items">
          <% @company.offers.where(offer_status: :established).order(created_at: :desc).each do |offer| %>
            <div class="user_item">
              <%= link_to company_post_path(offer.post.id), class: "user_item1" do %>
                <%= attachment_image_tag offer.post, :post_image, :fill, 300, 420, class: "user_item2" %>
              <% end %>
              <div class="user_item_time">
                <%= offer.created_at.strftime('%Y/%m/%d %H:%M') %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <% if @company.offered_by? %>
      <!--------交渉不成立オファーあれば全て表示-------->
      <% if @company.offered_failure_by?(@company.id) %>
        <h3 class="user_show_heading3">交渉不成立</h3>
        <span class="company_offer_count"><%= @company.offered_failure_count(@company.id) %>件</span>
        <div class="user_all_items">
          <% @company.offers.where(offer_status: :failure).order(created_at: :desc).each do |offer| %>
            <div class="user_item">
              <%= link_to company_post_path(offer.post.id), class: "user_item1" do %>
                <%= attachment_image_tag offer.post, :post_image, :fill, 300, 420, class: "user_item2" %>
              <% end %>
              <div class="user_item_time">
                <%= offer.created_at.strftime('%Y/%m/%d %H:%M') %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
