<h1>企業詳細画面（企業用）</h1>

<%= attachment_image_tag @company, :profile_image, :fill, 300, 300, fallback: "no_image_company.png", size: "300x300" %>
<%= @company.company_name_kana %>
<%= @company.company_name %>
<p>住所</p>
<span>〒</span>
<%= @company.postal_code.insert(3,"-") %>
<%= @company.address %>
<p>TEL</p>
<%= @company.phone_number %>
<p>企業紹介</p>
<%= @company.company_introduction %>
<% if @company.id == current_company.id %>
  <%= link_to "プロフィールを編集する", edit_company_company_path(@company.id) %>
<% end %>
<!---------------------------------------------->
<p>オファー履歴一覧</p>
<!--オファーモデルは存在するか-->
<% if @company.offered_by? %>
  <!---------------------交渉中のオファーあれば全て表示--------------------->
  <% if @company.offered_negotiation_by?(@company.id) %>
    <p>交渉中</p>
    <%= @company.offered_negotiation_count(@company.id) %><span>件</span>
    <% @company.offers.where(offer_status: :negotiation).each do |offer| %>
      <%= link_to company_post_path(offer.post.id) do %>
        <%= attachment_image_tag offer.post, :post_image, :fill, 200, 300 %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if @company.offered_by? %>
  <!---------------------交渉成立オファーあれば全て表示-------------------->
  <% if @company.offered_established_by?(@company.id) %>
    <p>交渉成立</p>
    <%= @company.offered_established_count(@company.id) %><span>件</span>
    <% @company.offers.where(offer_status: :established).each do |offer| %>
      <%= link_to company_post_path(offer.post.id) do %>
        <%= attachment_image_tag offer.post, :post_image, :fill, 200, 300 %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if @company.offered_by? %>
  <!--------------------交渉不成立オファーあれば全て表示------------------->
  <% if @company.offered_failure_by?(@company.id) %>
    <p>交渉不成立</p>
    <%= @company.offered_failure_count(@company.id) %><span>件</span>
    <% @company.offers.where(offer_status: :failure).each do |offer| %>
      <%= link_to company_post_path(offer.post.id) do %>
        <%= attachment_image_tag offer.post, :post_image, :fill, 200, 300 %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% if Offer.find_by(company_id: @company.id).nil? %>
<% end %>
