<div class="notification_content_box">
  <div class="notification_content_flex">
    <div>
      <%= link_to design_contributor_design_contributor_path(notification.visitor), class: "notification_content1" do %>
        <%= attachment_image_tag notification.visitor, :profile_image, :fill, 50, 50, fallback: "no_image.png", size: "50x50", class: "notification_content_img" %>
      <% end %>
    </div>
    <div class="notification_content2">
      <%= notification_form(notification) %>
      <span><%= "(#{time_ago_in_words(notification.created_at)}å‰)" %></span>
    </div>
  </div>
  <% if !@comment.nil? %>
    <p class="notification_comment"><%= @comment %></p>
  <% end %>
</div>