<%= link_to design_contributor_design_contributor_path(notification.visitor) do %>
  <%= attachment_image_tag notification.visitor, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %>
<% end %>

<%= notification_form(notification) %><br />
<%= "(#{time_ago_in_words(notification.created_at)}å‰)" %><br />

<% if !@comment.nil? %>
  <p><%= @comment %></p>
<% end %>