<!--デザイン投稿者オファー編集編集画面-->

<div class="content_width offer_edit_back">

  <h1 class="offer_edit_heading1">オファーが届いています</h1>

  <div class="offer_detail">
    <div class="offer_detail1">
      <%= attachment_image_tag @post, :post_image, :fill, 300, 420, class: "offer_post_image" %>
      <p class="offer_announce">このデザインに商品化のオファーが来ています</p>
    </div>
    <div class="offer_detail2">
      <div class="offer_profile_image">
        <%= attachment_image_tag @offer.company, :profile_image, 200, 200, fallback: "no_image.png", size: "200x200" %>
      </div>
      <div>
        <div class="offer_company_name">
          <%= @offer.company.company_name %>
        </div>
        <div class="offer_comment">
          <%= @offer.offer_comment %>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------------------------------------------------------------->
  <div class="offer_reply">
    <p class="offer_reply_heading">返信する</p>
    <p class="offer_reply_intro">オファーを</p>
    <%= form_with model: [@post, @offer], url: design_contributor_post_offer_path(post_id: @post.id, id: @offer.id), local: true do |f| %>
      <div class="offer_reply_form">
        <div class="offer_edit_input_form">
          <%= f.radio_button :offer_status, :established, class: "offer_edit_input" %>
          <%= f.label :offer_status_established, "お受けする", class: "offer_edit_input" %>
        </div>
        <div class="offer_edit_input_form offer_status_failure">
          <%= f.radio_button :offer_status, :failure, class: "offer_edit_input" %>
          <%= f.label :offer_status_failure, "お断りする", class: "offer_edit_input" %>
        </div>
      </div>
      <div class="offer_edit_btn_form">
        <%= f.submit "送信する", class: "offer_edit_btn" %>
      </div>
    <% end %>
</div>