<!--デザイン投稿者オファー編集画面-->

<div class="content_width offer_back">

  <h1 class="offer_heading">オファーが届いています</h1>

  <div class="offer_detail design_contributor_offer_detail">
    <div class="offer_detail1">
      <%= attachment_image_tag @post, :post_image, :fill, 400, 550, class: "offer_post_image" %>
      <p class="offer_announce">このデザインに<span>商品化のオファーが来ています</span></p>
    </div>
    <div class="offer_detail2">
      <%= attachment_image_tag @offer.company, :profile_image, 200, 200, fallback: "no_image_company.png", size: "200x200", class: "offer_profile_image" %>
      <div>
        <div class="offer_company_name">
          <%= @offer.company.company_name %>
        </div>
        <div class="offer_comment">
          <%= @offer.offer_comment %>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------->
  <div class="offer_edit_content">
    <p class="offer_edit_heading">返信する</p>
    <p class="offer_edit_intro">オファーを</p>
    <%= form_with model: [@post, @offer], url: design_contributor_post_offer_path(post_id: @post.id, id: @offer.id), local: true do |f| %>
      <div class="offer_edit_form">
        <div class="offer_edit_input_form">
          <%= f.radio_button :offer_status, :established, required: "required" %>
          <%= f.label :offer_status_established, "お受けする", class: "offer_edit_input" %>
        </div>
        <div class="offer_edit_input_form offer_status_failure">
          <%= f.radio_button :offer_status, :failure %>
          <%= f.label :offer_status_failure, "お断りする", class: "offer_edit_input" %>
        </div>
      </div>
      <div class="offer_edit_btn_form">
        <%= f.submit "返信する", class: "offer_edit_btn" %>
      </div>
    <% end %>
</div>