<!--企業ログイン画面-->

<div class="content_width login_content">
  <div class="login_background1">
    <div class="login_lead">
      <div class="login_lead_item">アパレル関係者様用</div>
    </div>
    <!----------------------------メールアドレス・パスワード入力フォーム----------------------------->
    <div class="login_form_content">
      <div class="login_form">
        <%= form_with model: @company, url: company_session_path, local: true do |f| %>
          <div class="field input_form">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email_form" %>
          </div>
          <div class="field input_form">
            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "password_form" %>
          </div>
          <div class="actions login_btn_form">
            <%= f.submit "ログイン", class: "login_btn" %>
          </div>
        <% end %>
      </div>
      <div class="login_background2"></div>
    </div>
  </div>
  <!-------------デザイン投稿者用ログイン画面リンク------------->
  <div class="another_user_link">
    <%= link_to new_design_contributor_session_path do %>
      <i class="fas fa-arrow-circle-right another_link_font"></i>
      <span class="another_link_font">個人の方はこちらへ</span>
    <% end %>
  </div>
  <!-----------------見出し------------------>
  <div class="login_heading">
    <h1 class="login_heading_item">Log in</h1>
  </div>
</div>
