<h1>作者コメント編集</h1>
<%= attachment_image_tag @post, :post_image, :fill, 620, 700 %>
<%= form_with model: @post, url: design_contributor_post_path(@post.id), local: true do |f| %>
  <%= f.label :author_comment %>
  <%= f.text_area :author_comment %>
  <%= f.submit "編集する" %>
<% end %>
