<!--デザイン投稿者投稿作品一覧画面-->

<div class="content_width">
  <div class="top_content posts_index_top">
    <div class="heading2 posts_index_heading2">
      <h2>作品一覧</h2>
      <p>こちらのページでは皆様の投稿した<br />ワンピースのデザインがご覧いただけます</p>
    </div>
    <!-----------------見出し------------------>
    <div class="heading1">
      <h1>Works</h1>
    </div>
  </div>

  <div class="bottom_content posts_index_bottom">
    <div class="posts_index_heading3">
      <h3>投稿作品</h3>
      <span>新着順</span>
    </div>
    <div class="posts_index_list">
      <% @posts.each do |post| %>
        <div class="post_index_box">
          <%= link_to design_contributor_post_path(post.id) do %>
            <div class="post_show_link">
              <%= attachment_image_tag post, :post_image, :fill, 260, 350, class: "post_index_image" %>
            </div>
          <% end %>
          <div class="user_show_link">
            <%= link_to design_contributor_design_contributor_path(post.design_contributor_id) do %>
              <div class="iuser_show_link1">
                <div class="user_show_link2">
                  <%= attachment_image_tag post.design_contributor, :profile_image, :fill, 45, 45, fallback: "no_image.png", size: "45x45", class: "user_profile_image" %>
                </div>
                <div class="user_show_link3">
                  <%= post.design_contributor.pen_name %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
