<!--デザイン投稿者投稿作品一覧画面-->

<div class="content_width posts_content">
  <div class="posts_top posts_background1">
    <div class="posts_lead">
      <h1 class="posts_lead_bold">作品一覧</h1>
      <p>こちらのページでは皆様の投稿した<br />ワンピースのデザインがご覧いただけます。</p>
    </div>
    <!-----------------見出し------------------>
    <div class="posts_heading">
      <h1 class="posts_heading_item">Works</h1>
    </div>
  </div>

  <div class="posts_bottom">
    <p>投稿作品</p>
    <span>新着順</span>
    <% @posts.each do |post| %>
      <%= link_to design_contributor_post_path(post.id) do %>
        <%= attachment_image_tag post, :post_image, :fill, 320, 450 %>
      <% end %>
      <%= link_to design_contributor_design_contributor_path(post.design_contributor_id) do %>
        <%= attachment_image_tag post.design_contributor, :profile_image, :fill, 20, 20, fallback: "no_image.jpg" %>
        <%= post.design_contributor.pen_name %>
      <% end %>
    <% end %>
  </div>
</div>
