<!--デザイン投稿者投稿作品一覧画面-->

<div class="content_width">
  <div class="top_content posts_index_top">
    <div class="posts_index_heading_back">
      <div class="heading2 posts_index_heading2">
        <h2>作品一覧</h2>
        <p>こちらのページでは皆様の投稿した<br />ワンピースのデザインがご覧いただけます</p>
      </div>
    </div>
    <!-----------------見出し------------------>
    <div class="heading1">
      <h1>Works</h1>
    </div>
  </div>

  <div class="bottom_content posts_index_bottom">
    <div class="posts_index_heading3">
      <h3>投稿作品</h3>
      <span>新着順</span>
    </div>
    <div class="posts_index_list">
      <% @posts.each do |post| %>
        <div class="post_index_box">
          <%= link_to design_contributor_post_path(post.id) do %>
            <div class="post_show_link">
              <%= attachment_image_tag post, :post_image, :fill, 260, 350, class: "post_index_image" %>
              <% post.offers.each do |offer| %>
                <% if offer.established? %>
                  <div class="posts_index_established_text">商品化決定</div>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <div class="user_show_link">
            <%= link_to design_contributor_design_contributor_path(post.design_contributor_id), class: "user_show_link1" do %>
              <%= attachment_image_tag post.design_contributor, :profile_image, :fill, 45, 45, fallback: "no_image.png", size: "45x45", class: "user_profile_image" %>
              <div class="user_show_link3">
                <%= post.design_contributor.pen_name %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% if Post.count > 12 %>
      <div class="index_paginate"><%= paginate @posts %></div>
    <% end %>
  </div>
</div>
