<!--デザイン投稿者新規作品投稿画面-->

<div class="content_width">
  <div class="posts_top new_top_back1">
    <div class="posts_lead new_lead1">
      <h2 class="posts_lead_bold">作品投稿</h2>
      <p>デザインしたワンピースの画像とコメントを投稿してください</p>
    </div>
    <!-----------------見出し------------------>
    <div class="posts_heading">
      <h1 class="posts_heading_item">Post</h1>
    </div>
  </div>

  <div class="posts_bottom new_bottom_back">
    <div class="new_post_form">
      <%= form_with model: @post, url: design_contributor_posts_path, local: true do |f| %>
      <!------------未入力の場合のエラー文表示------------->
        <% if @post.errors.any? %>
          <div class="error_box">
            <p class="error_heading"><%= @post.errors.count %>件のエラーが発生したため 投稿できませんでした。</p>
            <ul>
              <% @post.errors.full_messages.each do |message| %>
                <li class="error_list">
                  <%= message %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <!--------------------------------------------------->
        <%= f.label :post_image, "デザイン画像" %>
        <%= f.attachment_field :post_image %>
        <div class="post_input_form">
          <%= f.label :author_comment, "作者コメント", class: "post_label" %>
          <%= f.text_area :author_comment, placeholder: "作品のこだわった所、好きな所、なんでも書いて下さい" %>
        </div>
        <%= f.submit "投稿する" %>
      <% end %>
    </div>
  </div>
</div>












