<!--デザイン投稿者新規作品投稿画面-->

<div class="content_width">
  <div class="top_content post_new_top">
    <div class="heading2 post_new_heading2">
      <h2>作品投稿</h2>
      <p>デザインしたワンピースのイラスト画像と<br />コメントを投稿してください</p>
    </div>
    <!-----------------見出し------------------>
    <div class="heading1">
      <h1>Post</h1>
    </div>
    <div class="post_new_decoration"></div>
  </div>

  <div class="bottom_content post_new_bottom">
    <div class="post_new_form">
      <%= form_with model: @post, url: design_contributor_posts_path, local: true do |f| %>
      <!------------未入力の場合のエラー文表示------------->
        <% if @post.errors.any? %>
          <div class="error_box">
            <p class="error_heading"><%= @post.errors.count %>件のエラーが発生したため 投稿できませんでした。</p>
            <ul>
              <% @post.errors.full_messages.each do |message| %>
                <li class="error_list">
                  <%= message %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <!--------------------------------------------------->
        <div class="post_input_form post_image_form">
          <label class="post_input_image1">投稿画像を選択してください
            <%= f.attachment_field :post_image, class: "post_input post_input_image2" %>
          </label>
        </div>
        <div class="post_input_form">
          <%= f.label :author_comment, "作者コメント", class: "post_label" %>
          <%= f.text_area :author_comment, placeholder: "作品のこだわった所、好きな所、なんでも書いて下さい", class: "post_input" %>
        </div>
        <div class="post_new_btn_form">
          <%= f.submit "投稿する", class: "post_new_btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>












