<h1>作品詳細画面</h1>
<%= attachment_image_tag @post, :post_image, :fill, 300, 400 %>
<%= attachment_image_tag @post.design_contributor, :profile_image, :fill, 100, 100 %>
<%= @post.design_contributor.pen_name %>
<p>作者コメント</p>
<%= @post.author_comment %>
<% if @post.design_contributor_id == current_design_contributor.id %>
  <%= link_to "コメント編集", edit_design_contributor_post_path(@post.id) %>
<% end %>
<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %><span>公開</span>

<!-----------------------------------なにこれ欲しいボタン--------------------------------------->
<% if current_design_contributor.wanted_by?(@post.id) %>
  <%= link_to "なにこれ欲しい★", design_contributor_post_wants_path(@post.id), method: :delete %>
<% else %>
  <%= link_to "なにこれ欲しい☆", design_contributor_post_wants_path(@post.id), method: :post %>
<% end %>
<span>☆</span><%= @post.wants.count %>
<!--------------------------------------作品削除ボタン---------------------------------------->
<% if @post.design_contributor_id == current_design_contributor.id %>
  <%= link_to "作品を削除する", design_contributor_post_path(@post.id), method: :delete %>
<% end %>
<!--------------------------------------------------------------------------------------->


<!-----------------------------------------コメント一覧----------------------------------------->
<p>コメント一覧</p>
<% @post.comments.each do |comment| %>
  <%= attachment_image_tag comment.design_contributor, :profile_image, :fill, 50, 50 %>
  <%= comment.design_contributor.pen_name %>
  <%= comment.comment %>
  <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
  <% if comment.design_contributor_id == current_design_contributor.id %>
    <%= link_to "削除", design_contributor_post_comment_path(@post, comment), method: :delete %>
  <% end %>
<% end %>
<!-----------------------------------------作品への反応---------------------------------------->
<p>このデザインへの反応</p>
<span>なにこれ欲しい★</span>

<span>コメント</span>

<span>オファー</span>

<!--------------------------------------------コメント投稿フォーム------------------------------------------------>
<!----------------未入力の時のエラー文表示---------------->
<% if @comment.errors.any? %>
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>
<!-------------------------------------------------------->
<%= form_with model: [@post, @comment], url: design_contributor_post_comments_path(@post.id), local: true do |f| %>
  <%= f.label :comment, "コメントする" %>
  <%= f.text_area :comment %>
  <%= f.submit "投稿" %>
<% end %>
<!---------------------------------------------------------------------------------------------------------------->

<p>ステキなデザインだと思ったら<br />ぜひ感想を伝えてください♪</p>

<%= link_to "デザイン一覧に戻る", design_contributor_posts_path %>