<!--デザイン投稿者投稿作品詳細画面-->

<div class="content_width post_show_back">
  <div class="post_show_top">
    <div class="post_show_top1">
      <%= attachment_image_tag @post, :post_image, :fill, 450, 650 %>
      <!----------------------------------------------なにこれ欲しいボタン--------------------------------------------------->
      <% if current_design_contributor.wanted_by?(@post.id) %>
        <div class="want_link">
          <%= link_to "なにこれ欲しい★", design_contributor_post_wants_path(@post.id), method: :delete, class: "want_link1" %>
          <div class="want_link2">
            <span>★</span><%= @post.wants.count %>
          </div>
        </div>
      <% else %>
        <div class="want_link">
          <%= link_to "なにこれ欲しい☆", design_contributor_post_wants_path(@post.id), method: :post, class: "want_link1" %>
          <div class="want_link2">
            <span>☆</span><%= @post.wants.count %>
          </div>
        </div>
      <% end %>
      <!-------------------------------------------------------------------------------------------------------------------->
    </div>

    <div class="post_show_top2">
      <div class="post_show_user">
        <%= link_to design_contributor_design_contributor_path(@post.design_contributor.id) do %>
          <div class="post_show_user1 post_show_user_hover">
            <%= attachment_image_tag @post.design_contributor, :profile_image, :fill, 200, 200, fallback: "no_image.png", size: "200x200", class: "post_show_user_hover" %>
          </div>
          <div class="post_show_user2 post_show_user_hover">
            <%= @post.design_contributor.pen_name %>
          </div>
        <% end %>
      </div>
      <div class="post_show_author_comment">
        <p>作者コメント</p>
        <div class="post_show_author_comment1">
          <%= @post.author_comment %>
          <% if @post.design_contributor_id == current_design_contributor.id %>
            <div class="comment_edit_link">
              <%= link_to "コメント編集", edit_design_contributor_post_path(@post.id), class: "comment_edit_link1" %>
            </div>
          <% end %>
        </div>
        <div class="post_show_created_at">
          <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %><span>公開</span>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------作品削除ボタン---------------------------------------->
  <% if @post.design_contributor_id == current_design_contributor.id %>
    <%= link_to "作品を削除する", design_contributor_post_path(@post.id), method: :delete, class: "post_delete_link" %>
  <% end %>
  <!--------------------------------------------------------------------------------------->

  <div class="post_show_bottom">
    <div class="post_show_reaction">
      <!-----------------------------------------作品への反応---------------------------------------->
      <p class="post_show_reaction_heading">このデザインへの反応</p>
      <div class="post_show_reaction_content post_show_reaction_want">
        <p>なにこれ欲しい☆</p>
        <div>
          <span>★</span><%= @post.wants.count %>
        </div>
      </div>
      <div class="post_show_reaction_content post_show_reaction_comment">
        <p>コメント</p>
        <div>
          <%= @post.comments.count %><span>件</span>
        </div>
      </div>
      <div class="post_show_reaction_content">
        <p>オファー</p>
        <!--オファーモデルは存在するか-->
        <% if @post.offered_by? %>
          <!--------------------------交渉中のオファーが存在するか-------------------------->
          <% if @post.offered_negotiation_by?(@post.id) %>
            <p>オファーが来ています</p>
            <% if @post.design_contributor_id == current_design_contributor.id %>
              <%= link_to "確認する", edit_design_contributor_post_offer_path(@post, @offer) %>
            <% else %>
              <span>現在</span>
              <%= @offer.company.company_name %>
              <span>様と交渉中</span>
            <% end %>
          <!--------------------------交渉成立オファーが存在するか-------------------------->
          <% elsif @post.offered_established_by?(@post.id) %>
            <p>オファー成立済み</p>
          <!-------------------------交渉不成立オファーが存在するか------------------------->
          <% elsif @post.offered_failure_by?(@post.id) %>
            <span>オファー不成立</span><%= Offer.where(post_id: @post.id, offer_status: :failure).count %><span>件</span>
            <p>現在オファーはありません</p>
          <!----------オファーモデルは存在するがこのデザインにオファーが来ていない---------->
          <% else %>
            <p>現在オファーはありません</p>
          <% end %>
        <!-----------------------------オファーモデルが存在しない--------------------------->
        <% else %>
          <p>現在オファーはありません</p>
        <% end %>
      </div>
    </div>
    <!-----------------------------------------コメント一覧----------------------------------------->
    <p class="post_show_comment_heading">コメント一覧</p>
    <div class="post_show_comment_content">
      <div class="post_show_comment_left">
        <% if Comment.exists?(post_id: @post.id) %>
          <% @post.comments.each do |comment| %>
            <%= link_to design_contributor_design_contributor_path(comment.design_contributor_id) do %>
              <div class="post_show_comment_user">
                <div class="post_show_comment_user2">
                  <%= attachment_image_tag comment.design_contributor, :profile_image, :fill, 50, 50, fallback: "no_image.png", size: "50x50", class: "post_show_comment_user1" %>
                </div>
                <div class="post_show_comment_user2">
                  <%= comment.design_contributor.pen_name %>
                </div>
              </div>
            <% end %>
            <div class="post_show_comment">
              <div class="post_show_comment1">
                <%= comment.comment %>
              </div>
              <div class="post_show_comment2">
                <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
              </div>
              <% if comment.design_contributor_id == current_design_contributor.id %>
                <%= link_to "削除", design_contributor_post_comment_path(@post, comment), method: :delete %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <p class="post_show_no_comment">コメントはまだありません</p>
        <% end %>
      </div>
      <!----------------------------------コメント投稿フォーム-------------------------------------->
      <!----------------未入力の時のエラー文表示---------------->
      <div class="post_show_comment_right">
        <div class="post_show_comment_new">
          <% if @comment.errors.any? %>
            <div class="error_box post_show_comment_new1">
              <ul>
                <% @comment.errors.full_messages.each do |message| %>
                  <li class="error_list">
                    <%= message %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <!-------------------------------------------------------->
          <%= form_with model: [@post, @comment], url: design_contributor_post_comments_path(post_id: @post.id), local: true do |f| %>
            <div class="post_show_comment_new2">
              <div class="post_show_comment_label">
                <%= f.label :comment, "コメントする" %>
              </div>
              <div class="post_show_comment_area1">
                <%= f.text_area :comment, class: "post_show_comment_area2" %>
              </div>
              <div class="post_show_comment_btn_form">
                <%= f.submit "投稿", class: "post_show_comment_btn" %>
              </div>
            </div>
          <% end %>
          <!---------------------------------------------------------------------------------------------------------------->
          <p class="post_show_comment_new3">ステキなデザインだと思ったら<br />ぜひ感想を伝えてください♪</p>
        </div>
        <%= link_to "デザイン一覧に戻る", design_contributor_posts_path, class: "post_index_link" %>
        <div class="post_index_link_decoration"></div>
      </div>
    </div>
  </div>
</div>