<!--Top画面-->

<div class="content_width">
  <div class="top_content top_top">
    <div class="top_top_heading">
      <h1>あなたのデザインを形に</h1>
      <p>オリジナルワンピースが作れる<span>マッチングサイト</span></p>
    </div>
  </div>
  <!---------------------------------------------------->


  <!------------------------------------>
  <div class="top_bottom">
    <div class="top_bottom_heading1">
      <h2>皆様のデザインしたワンピース</h2>
    </div>
    <br />
    <h3 class="top_bottom_heading2">商品化希望の多いデザイン</h3>
    <!-----------------デザイン投稿者がログイン中の時------------>
    <% if design_contributor_signed_in? %>
      <div class="top_bottom_content1 top_bottom_content1_rank">
        <% @want_posts.each.with_index(1) do |want_post, i| %>
          <div class="top_bottom_content2 top_bottom_content2_rank">
            <p class="top_bottom_want_rank">第<%= i %>位</p>
            <%= link_to design_contributor_post_path(want_post.id), class: "top_bottom_post_image1" do %>
              <%= attachment_image_tag want_post, :post_image, :fill, 300, 400, class: "top_bottom_post_image2 top_bottom_post_image2_rank" %>
            <% end %>
            <%= link_to design_contributor_design_contributor_path(want_post.design_contributor.id), class: "top_bottom_design_contributor1" do %>
              <div class="top_bottom_design_contributor2">
                <%= attachment_image_tag want_post.design_contributor, :profile_image, :fill, 50, 50, fallback: "no_image.png", size: "50x50", class: "top_bottom_profile_image" %>
                <%= want_post.design_contributor.pen_name %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <!----企業がログイン中の時--->
    <% elsif company_signed_in? %>
      <div class="top_bottom_content1 top_bottom_content1_rank">
        <% @want_posts.each.with_index(1) do |want_post, i| %>
          <div class="top_bottom_content2 top_bottom_content2_rank">
            <p class="top_bottom_want_rank">第<%= i %>位</p>
            <%= link_to company_post_path(want_post.id), class: "top_bottom_post_image1" do %>
              <%= attachment_image_tag want_post, :post_image, :fill, 300, 400, class: "top_bottom_post_image2 top_bottom_post_image2_rank" %>
            <% end %>
            <%= link_to company_design_contributor_path(want_post.design_contributor.id), class: "top_bottom_design_contributor1" do %>
              <div class="top_bottom_design_contributor2">
                <%= attachment_image_tag want_post.design_contributor, :profile_image, :fill, 50, 50, fallback: "no_image.png", size: "50x50", class: "top_bottom_profile_image" %>
                <%= want_post.design_contributor.pen_name %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <!--ログアウト時-->
    <% else %>
      <div class="top_bottom_content1 top_bottom_content1_rank">
        <% @want_posts.each.with_index(1) do |want_post, i| %>
          <div class="top_bottom_content2 top_bottom_content2_rank">
            <p class="top_bottom_want_rank">第<%= i %>位</p>
            <%= link_to design_contributor_post_path(want_post.id), class: "top_bottom_post_image1" do %>
              <%= attachment_image_tag want_post, :post_image, :fill, 300, 400, class: "top_bottom_post_image2 top_bottom_post_image2_rank" %>
            <% end %>
            <%= link_to design_contributor_design_contributor_path(want_post.design_contributor.id), class: "top_bottom_design_contributor1" do %>
              <div class="top_bottom_design_contributor2">
                <%= attachment_image_tag want_post.design_contributor, :profile_image, :fill, 50, 50, fallback: "no_image.png", size: "50x50", class: "top_bottom_profile_image" %>
                <%= want_post.design_contributor.pen_name %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------->


    <h3 class="top_bottom_heading2">新着のデザイン</h3>
    <!---デザイン投稿者がログイン中の時--->
    <% if design_contributor_signed_in? %>
      <div class="top_bottom_content1">
        <% @new_posts.each do |new_post| %>
          <div class="top_bottom_content2">
            <%= link_to design_contributor_post_path(new_post.id), class: "top_bottom_post_image1" do %>
              <%= attachment_image_tag new_post, :post_image, :fill, 250, 350, class: "top_bottom_post_image2 top_bottom_post_image2_new" %>
              <% new_post.offers.each do |offer| %>
                <% if offer.established? %>
                  <div class="established_posts_text">商品化決定</div>
                <% end %>
              <% end %>
            <% end %>
            <%= link_to design_contributor_design_contributor_path(new_post.design_contributor.id), class: "top_bottom_design_contributor1" do %>
              <div class="top_bottom_design_contributor2">
                <%= attachment_image_tag new_post.design_contributor, :profile_image, :fill, 50, 50, fallback: "no_image.png", size: "50x50", class: "top_bottom_profile_image" %>
                <%= new_post.design_contributor.pen_name %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="top_bottom_link1">
        <%= link_to "すべてのデザインを見にいく", design_contributor_posts_path, class: "top_bottom_link2" %>
      </div>
    <!----企業がログイン中の時---->
    <% elsif company_signed_in? %>
      <div class="top_bottom_content1">
        <% @new_posts.each do |new_post| %>
          <div class="top_bottom_content2">
            <%= link_to company_post_path(new_post.id), class: "top_bottom_post_image1" do %>
              <%= attachment_image_tag new_post, :post_image, :fill, 250, 350, class: "top_bottom_post_image2 top_bottom_post_image2_new" %>
            <% end %>
            <%= link_to company_design_contributor_path(new_post.design_contributor.id), class: "top_bottom_design_contributor1" do %>
              <div class="top_bottom_design_contributor2">
                <%= attachment_image_tag new_post.design_contributor, :profile_image, :fill, 50, 50, fallback: "no_image.png", size: "50x50", class: "top_bottom_profile_image" %>
                <%= new_post.design_contributor.pen_name %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="top_bottom_link1">
        <%= link_to "すべてのデザインを見にいく", company_posts_path, class: "top_bottom_link2" %>
      </div>
    <!--ログアウト時-->
    <% else %>
      <div class="top_bottom_content1">
        <% @new_posts.each do |new_post| %>
          <div class="top_bottom_content2">
            <%= link_to design_contributor_post_path(new_post.id), class: "top_bottom_post_image1" do %>
              <%= attachment_image_tag new_post, :post_image, :fill, 250, 350, class: "top_bottom_post_image2 top_bottom_post_image2_new" %>
            <% end %>
            <%= link_to design_contributor_design_contributor_path(new_post.design_contributor.id), class: "top_bottom_design_contributor1" do %>
              <div class="top_bottom_design_contributor2">
                <%= attachment_image_tag new_post.design_contributor, :profile_image, :fill, 50, 50, fallback: "no_image.png", size: "50x50", class: "top_bottom_profile_image" %>
                <%= new_post.design_contributor.pen_name %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="top_bottom_link1">
        <%= link_to "すべてのデザインを見にいく", design_contributor_posts_path, class: "top_bottom_link2" %>
      </div>
    <% end %>
    <!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------->


    <h3 class="top_bottom_heading2">実際に商品化したデザイン</h3>
    <div>
      <div class="top_bottom_content1">
        <div class="top_bottom_item">
          <div class="top_bottom_item_image1">
            <img class="top_bottom_item_image2" src="/assets/gahag-0079755845-1.jpg" alt="商品化ワンピース画像1">
          </div>
          <p class="top_bottom_item_lead top_bottom_item_lead1">Rosemary<span>プロデュース</span><br />（ririさんデザイン）</p>
        </div>
        <div class="top_bottom_item">
          <div class="top_bottom_item_image1">
            <img class="top_bottom_item_image2" src="/assets/gahag-0108830677-1.jpg" alt="商品化ワンピース画像2">
          </div>
          <p class="top_bottom_item_lead top_bottom_item_lead2">株式会社クラウンルージュ<br />プロデュース<br />（まにまにさんデザイン）</p>
        </div>
      </div>
      <!---デザイン投稿者がログイン中の時--->
      <% if design_contributor_signed_in? %>
        <div class="top_bottom_link1">
          <%= link_to "登録ブランド一覧", design_contributor_companies_path, class: "top_bottom_link2" %>
        </div>
      <!----企業がログイン中の時---->
      <% elsif company_signed_in? %>
        <div class="top_bottom_link1">
          <%= link_to "登録ブランド一覧", company_companies_path, class: "top_bottom_link2" %>
        </div>
      <!--ログアウト時-->
      <% else %>
        <div class="top_bottom_link1">
          <%= link_to "登録ブランド一覧", design_contributor_companies_path, class: "top_bottom_link2" %>
        </div>
      <% end %>
    </div>
    <!--------------------------------------------------------------------------------------------------------------------------------->


    <div class="top_bottom_inquiry_content_back">
      <h3 class="top_bottom_heading2 top_bottom_heading2_inquiry">お問い合わせ</h3>
      <div class="top_bottom_inquiry_content1">
        <p class="top_bottom_inquiry_lead">お問い合わせ方法</p>
        <div class="top_bottom_inquiry">
          <p class="top_bottom_inquiry1">E-mail</p>
          <p class="top_bottom_inquiry2">info@donnaattraente.jp</p>
        </div>
        <div class="top_bottom_inquiry"><!--ここから！！！！！！！！！！！！-->
          <p class="top_bottom_inquiry1">TEL</p>
          <p class="top_bottom_inquiry2">0120-xxx-xxx</p>
        </div>
      </div>
      <div class="top_bottom_inquiry_content2">
        <p class="top_bottom_inquiry_lead">受付時間</p>
        <div class="top_bottom_inquiry">
          <p class="top_bottom_inquiry1">メール</p>
          <p class="top_bottom_inquiry2">24時間</p>
        </div>
        <div class="top_bottom_inquiry">
          <p class="top_bottom_inquiry1">お電話</p>
          <p class="top_bottom_inquiry2">平日　午前9:00 〜 午後18:00<br />
            <span>※休日・祝日はメールのみの対応となります。</span><br />
            <span>恐れ入りますがメールにてお問い合わせください。</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

