<h2>新規会員登録</h2><span>- アパレル関係者様用 -</span>
<p>下のフォームから会員登録をお願いします。</p>

<%= link_to "個人の方はこちらへ", new_design_contributor_registration_path %>

<%= form_with model: @company, url: company_registration_path, id: "new_company", class: "new_company", local: true do |f| %>

  <div class="field">
    <%= f.label :profile_image, "企業画像" %>
    <%= f.attachment_field :profile_image %>
  </div>
  <div class="field">
    <%= f.label :company_name, "企業名" %>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :company_name_kana, "企業名（フリガナ）" %>
    <%= f.text_field :company_name_kana %>
  </div>
  <div class="field">
    <%= f.label :postal_code, "郵便番号" %>
    <%= f.text_field :postal_code %>
  </div>
  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone_number, "TEL" %>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :company_introduction, "企業紹介" %>
    <%= f.text_area :company_introduction %>
  </div>
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>

