<!--デザイン投稿者新規登録画面-->

<div class="content_width signup_content">
  <h2>新規登録</h2>
  <p>下のフォームから会員登録をお願いします。</p>
  <p>新規会員登録</p>
  <%= link_to "企業の方はこちらへ", new_company_registration_path %>
  <div class="signup_form">
    <%= form_with model: @design_contributor, url: design_contributor_registration_path, id: "new_design_contributor", class: "new_design_contributor", local: true do |f| %>
      <%= render "design_contributors/shared/error_messages", resource: resource %>
      <div class="field input_form">
        <%= f.label :profile_image, "プロフィール画像" %>
        <%= f.attachment_field :profile_image, class: "profile_image_form" %>
      </div>
      <div class="field input_form">
        <%= f.label :pen_name, "ペンネーム" %><br />
        <%= f.text_field :pen_name, class: "pen_name_form" %>
      </div>
      <div class="field input_form">
        <%= f.label :self_introduction, "自己紹介" %><br />
        <%= f.text_area :self_introduction, class: "self_introduction_form" %>
      </div>
      <div class="field input_form">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email_form" %>
      </div>
      <div class="field input_form">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "password_form" %>
      </div>
      <div class="actions  signup_btn_form">
        <%= f.submit "登録", class: "signup_btn" %>
      </div>
    <% end %>
  </div>
</div>


