<!--企業投稿作品詳細画面-->

<div class="content_width post_show_back">
  <div class="post_show_top">
    <div class="post_show_top1">
      <%= attachment_image_tag @post, :post_image, :fill, 450, 650 %>
      <div class="company_want_detail">
        <p>なにこれ欲しい<span>☆</span></p>
        <p><span>★</span><%= @post.wants.count %></p>
      </div>
    </div>

    <div class="post_show_top2">
      <div class="post_show_user">
        <%= link_to company_design_contributor_path(@post.design_contributor.id) do %>
          <div class="post_show_user1 post_show_user_hover">
            <%= attachment_image_tag @post.design_contributor, :profile_image, :fill, 200, 200, fallback: "no_image.png", size: "200x200", class: "post_show_user_hover" %>
          </div>
          <div class="post_show_user2 post_show_user_hover">
            <%= @post.design_contributor.pen_name %>
          </div>
        <% end %>
      </div>
      <div class="post_show_author_comment">
        <p>作者コメント</p>
        <div class="post_show_author_comment1">
          <%= @post.author_comment %>
        </div>
        <div class="post_show_created_at">
          <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %><span>公開</span>
        </div>
      </div>
    </div>
  </div>

  <div class="post_show_bottom">
    <div class="post_show_reaction">
      <!-----------------------------------------作品への反応---------------------------------------->
      <p class="post_show_reaction_heading">このデザインへの反応</p>
      <div class="post_show_reaction_content post_show_reaction_want">
        <p>なにこれ欲しい☆</p>
        <div>
          <span>★</span><%= @post.wants.count %>
        </div>
      </div>
      <div class="post_show_reaction_content post_show_reaction_comment">
        <p>コメント</p>
        <div>
          <%= @post.comments.count %><span>件</span>
        </div>
      </div>
      <!--オファーモデルは存在するか-->
      <% if @post.offered_by? %>
        <!---------------------交渉中のオファーが存在するか---------------------->
        <% if @post.offered_negotiation_by?(@post.id) %>
          <% if @offer.company == current_company %>
            <div class="post_show_reaction_content">
              <p>オファー</p>
              <p>交渉中</p>
            </div>
            <p class="post_offer_announce">現在交渉しております。<br /><%= @post.design_contributor.pen_name %>様の返信をお待ちください。</p>
          <% else %>
            <%= @offer.company.company_name %><span>様と交渉中</span>
            <p>
              現在交渉中の為、こちらのデザインへはオファーができません。<br />
              ※交渉不成立となった場合、再度こちらのページからオファーが可能です。
            </p>
          <% end %>
        <!---------------------交渉成立オファーあれば表示----------------------->
        <% elsif @post.offered_established_by?(@post.id) %>
          <span>交渉成立済み</span><br />
          <% if @offer.company == current_company %>
            <p><%= @post.design_contributor.pen_name %>様が商品化を承諾されました</p>
          <% else %>
            <%= @offer.company.company_name %><span>様と交渉成立済み</span>
            <p>
              交渉成立済みの為、今後こちらのデザインへはオファーができません<br />
              新たなデザインをお探しください
            </p>
          <% end %>
        <!---------------------交渉不成立オファーあれば表示--------------------->
        <% elsif @post.offered_failure_by?(@post.id) %>
          <span>交渉不成立</span><%= Offer.where(post_id: @post.id, offer_status: :failure).count %><span>件</span>
          <span>現在オファー受付中です</span><br />
          <%= link_to new_company_post_offer_path(@post.id) do %>
            <p>商品化の<br />オファーを送る</p>
          <% end %>
        <!-----オファーモデルは存在するがこのデザインにオファーが来ていない----->
        <% else %>
          <span>現在オファー受付中です</span>
          <%= link_to new_company_post_offer_path(@post.id) do %>
            <p>商品化の<br />オファーを送る</p>
          <% end %>
        <% end %>
      <!-----------------------オファーモデルが存在しない---------------------->
      <% else %>
        <span>現在オファー受付中です</span>
        <%= link_to new_company_post_offer_path(@post.id) do %>
          <p>商品化の<br />オファーを送る</p>
        <% end %>
      <% end %>
      <!--------------------------------------------------------------------------->


    </div>
  </div>








  <!-------------------------------コメント一覧--------------------------------->
  <p>コメント一覧</p>
  <% @post.comments.each do |comment| %>
    <%= link_to company_design_contributor_path(comment.design_contributor_id) do %>
      <%= attachment_image_tag comment.design_contributor, :profile_image, :fill, 50, 50, fallback: "no_image.png", size: "50x50" %>
      <%= comment.design_contributor.pen_name %>
    <% end %>
    <%= comment.comment %>
    <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
  <% end %>







  <p>ステキなデザインを見つけたら<br />ぜひ商品化のオファーを送ってください♪</p>
  <%= link_to "デザイン一覧に戻る", company_posts_path %>

</div>