<!--企業詳細画面-->

<div class="content_width company_show_back">

    <h1 class="company_show_heading1">Brand Detail</h1>

    <div class="company_show_content">
        <div class="company_show1">
            <div>
                <%= attachment_image_tag @company, :profile_image, :fill, 350, 300, fallback: "no_image_company.png", size: "350x300" %>
                <div class="company_show1_name">
                    <div class="company_show1_company_name">
                        <%= @company.company_name %>
                    </div>
                    <div class="company_show1_company_name_kana">
                        <%= @company.company_name_kana %>
                    </div>
                </div>
            </div>
            <div class="company_show1_introduction">
                <p class="company_show1_introduction_title">紹介文</p>
                <div class="company_show1_introduction_text">
                    <%= @company.company_introduction %>
                </div>
            </div>
        </div>
        <!----------------------------------------------------------------------------------------------------------------------------->

        <!-------------------もし商品化決定デザインがあれば全て公開------------------->
        <% if @company.offered_by? && @company.offered_established_by?(@company.id) %>
            <p>商品化決定デザイン</p>
            <% @offers.each do |offer| %>
                <%= link_to design_contributor_post_path(offer.post.id) do %>
                    <%= attachment_image_tag offer.post, :post_image, :fill, 300,400 %>
                <% end %>
            <% end %>
        <% end %>
        <!---------------------------------------------------------------------------->

        <!----------------------------------------------------------------------->
        <p>住所</p>
        <span>郵便番号</span>
        <%= @company.postal_code.insert(3, "-") %>
        <%= @company.address %>
        <p>TEL</p>
        <%= @company.phone_number %>
        <p>E-mail</p>
        <%= @company.email %>
    </div>

</div>
