
<div class="content_width design_contributor_edit_back">

  <h1 class="design_contributor_edit_heading1">プロフィール編集</h1>

  <div class="design_contributor_edit_form">
    <!-------------------------未入力の時のエラー文表示------------------------->
    <% if @design_contributor.errors.any? %>
      <div class="error_box">
        <p class="error_heading"><%= @design_contributor.errors.count %>件のエラー</p>
        <ul>
          <% @design_contributor.errors.full_messages.each do |message| %>
            <li class="error_list">
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <!-------------------------------------------------------------------------->
    <%= form_with model: @design_contributor, url: design_contributor_design_contributor_path(@design_contributor.id), local: true do |f| %>
      <div class="design_contributor_edit_input_form">
        <%= f.label :profile_image %>
        <%= f.attachment_field :profile_image %>
      </div>
      <div class="design_contributor_edit_input_form">
        <%= f.label :pen_name, class: "design_contributor_edit_label" %>
        <%= f.text_field :pen_name, class: "design_contributor_edit_input" %>
      </div>
      <div class="design_contributor_edit_input_form">
        <%= f.label :email, class: "design_contributor_edit_label" %>
        <%= f.text_field :email, class: "design_contributor_edit_input" %>
      </div>
      <div class="design_contributor_edit_input_form">
        <%= f.label :self_introduction, class: "design_contributor_edit_label" %>
        <%= f.text_area :self_introduction, class: "design_contributor_edit_input" %>
      </div>
      <div class="design_contributor_edit_btn_form">
        <%= f.submit "編集する", class: "design_contributor_edit_btn" %>
      </div>
    <% end %>
  </div>
</div>