<!--デザイン投稿者詳細画面-->

<div class="content_width">
  <div class="top_content user_show_top">
    <div class="heading2 user_show_heading2">
      <% if @design_contributor == current_design_contributor %>
        <h2>マイページ</h2>
      <% else %>
        <h2>ユーザーページ</h2>
      <% end %>
    </div>
    <!-----------------見出し------------------>
    <div class="heading1">
      <% if @design_contributor == current_design_contributor %>
        <h1>My page</h1>
      <% else %>
        <h1>User page</h1>
      <% end %>
    </div>
    <div class="user_show_decoration"></div>
  </div>

  <div class="bottom_content user_show_bottom">
    <div class="user_show_introduction">
      <div class="user_show_introduction1">
        <div class="user_show_user_image_frame">
          <%= attachment_image_tag @design_contributor, :profile_image, :fill, 220, 220, fallback: "no_image.png", size: "220x220", class: "user_show_user_image" %>
        </div>
        <div class="user_show_name">
          <%= @design_contributor.pen_name %>
        </div>
      </div>
      <% if @design_contributor.self_introduction.present? %>
        <div class="user_show_introduction2">
          <p>自己紹介</p>
          <div class="user_show_self_introduction">
            <%= @design_contributor.self_introduction %>
          </div>
        </div>
      <% end %>
    </div>
    <% if @design_contributor == current_design_contributor %>
      <div class="user_edit_link1">
        <%= link_to "プロフィールを編集する", edit_design_contributor_design_contributor_path(@design_contributor.id), class: "user_edit_link2" %>
      </div>
    <% end %>
    <!------------------------------------------------------------------------------------------------------------------------------------------->
    <h3 class="user_show_heading3">デザイン一覧</h3>
    <% if @design_contributor.posts.exists? %>
      <div class="user_all_items">
        <% @design_contributor.posts.each do |post| %>
          <div class="user_item">
            <%= link_to design_contributor_post_path(post.id), class: "user_item1" do %>
              <%= attachment_image_tag post, :post_image, :fill, 300, 420, class: "user_item2" %>
              <% if Offer.where(post_id: post.id, offer_status: :established).exists? %>
                <p class="established_user_items">商品化決定</p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="design_contributor_no_item">デザインはまだありません</p>
    <% end %>
  </div>
</div>
