<% if @design_contributor == current_design_contributor %>
  <h1>マイページ</h1>
<% else %>
  <h1>ユーザーページ</h1>
<% end %>

<%= attachment_image_tag @design_contributor, :profile_image, :fill, 150, 150, fallback: "no_image.jpg" %>
<%= @design_contributor.pen_name %>
<p>自己紹介</p>
<%= @design_contributor.self_introduction %>
<%= link_to "プロフィールを編集する", edit_design_contributor_design_contributor_path(@design_contributor.id) %>

<!------------------------------------------------------------------------------------------------------------->
<p>デザイン一覧</p>
<% @design_contributor.posts.each do |post| %>
  <%= link_to design_contributor_post_path(post.id) do %>
    <%= attachment_image_tag post, :post_image, :fill, 200, 300 %>
  <% end %>
<% end %>