<!DOCTYPE html>
<html>
  <head>
    <title>DonnaAttraente</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header_logo">
        <%= link_to root_path do %>
          <div>
            Donna Attraente<br />
            <span>ドナ　アトラエンテ</span>
          </div>
        <% end %>
      </div>
      <ul class="header_lists">
        <% if design_contributor_signed_in? %>
        <!---------------------デザイン投稿者がログインしている場合のヘッダーリスト---------------------->
          <li class="header_list_item">
            <%= link_to root_path do %>
              <div>
                Top<br />
                <span>-トップページ-</span>
              </div>
            <% end %>
          </li>
          <li class="header_list_item">
            <%= link_to design_contributor_posts_path do %>
              <div>
                Works<br />
                <span>-作品一覧-</span>
              </div>
            <% end %>
          </li>
          <li class="header_list_item">
            <%= link_to new_design_contributor_post_path do %>
              <div>
                Post<br />
                <span>-投稿する-</span>
              </div>
            <% end %>
          </li>
          <li class="header_list_item">
            <%= link_to design_contributor_design_contributor_path(current_design_contributor.id) do %>
              <div>
                User page<br />
                <span>-ユーザーページ-</span>
              </div>
            <% end %>
          </li>
          <li class="header_list_item">
            <%= link_to homes_about_path do %>
              <div>
                About<br />
                <span>-Donna Attraenteとは-</span>
              </div>
            <% end %>
          </li>
          <!--なにこれ欲しい・コメントの通知-->
          <% if unchecked_notifications.any? %>
            <i class="fa fa-circle" style="color: gold;"></i>
          <% end %>
          <li class="header_list_item">
            <%= link_to "通知", design_contributor_notifications_path %>
          </li>
          <!-----------オファーの通知---------->
          <% if unchecked_notification2s.any? %>
            <i class="fa fa-circle" style="color: gold;"></i>
          <% end %>
          <li class="header_list_item">
            <%= link_to "オファー通知",  design_contributor_notification2s_path %>
          </li>
          <!--------------------------------------------------------------------->
          <li class="header_list_item">
            <%= link_to destroy_design_contributor_session_path, method: :delete do %>
              <div>
                Log out<br />
                <span>-ログアウト-</span>
              </div>
            <% end %>
          </li>
        <% elsif company_signed_in? %>
        <!----------------------企業がログインしている場合のヘッダーリスト----------------------->
          <li class="header_list_item">
            <%= link_to root_path do %>
              <div>
                Top<br />
                <span>-トップページ-</span>
              </div>
            <% end %>
          </li>
          <li class="header_list_item">
            <%= link_to company_posts_path do %>
              <div>
                Works<br />
                <span>-作品一覧-</span>
              </div>
            <% end %>
          </li>
          <li class="header_list_item">
            <%= link_to company_company_path(current_company.id) do %>
              <div>
                User page<br />
                <span>-ユーザーページ-</span>
              </div>
            <% end %>
          </li>
          <li class="header_list_item">
            <%= link_to homes_about_path do %>
              <div>
                About<br />
                <span>-Donna Attraenteとは-</span>
              </div>
            <% end %>
          </li>
          <!---------オファー（返信）の通知--------->
          <% if unchecked_offer_notifications.any? %>
            <i class="fa fa-circle" style="color: gold;"></i>
          <% end %>
          <li class="header_list_item">
            <%= link_to "オファー通知", company_notifications_path %>
          </li>
          <!------------------------------------------------>
          <li class="header_list_item">
            <%= link_to destroy_company_session_path, method: :delete do %>
              <div>
                Log out<br />
                <span>-ログアウト-</span>
              </div>
            <% end %>
          </li>
        <% else %>
        <!------------ログインしていない場合のヘッダーリスト------------>
          <li class="header_list_item">
            <%= link_to root_path do %>
              <div>
                Top<br />
                <span>-トップページ-</span>
              </div>
            <% end %>
          </li>
          <li class="header_list_item">
            <%= link_to homes_about_path do %>
              <div>
                About<br />
                <span>-Donna Attraenteとは-</span>
              </div>
            <% end %>
          </li>
          <li class="header_list_item">
            <%= link_to new_design_contributor_session_path do %>
              <div>
                Log in<br />
                <span>-ログイン-</span>
              </div>
            <% end %>
          </li>
          <li class="header_list_item">
            <%= link_to new_design_contributor_registration_path do %>
              <div>
                Sign up<br />
                <span>-新規登録-</span>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </header>

    <%= yield %>

    <footer>
      <div class="footer_logo">
        <%= link_to root_path do %>
          <div>
            Donna Attraente<br />
            <span>オリジナルワンピースをデザイン</span>
          </div>
        <% end %>
      </div>
    </footer>
  </body>
</html>
